/* SHARED CHANGES START HERE */

* {
    font-family: 'Roboto', sans-serif;
    /*box-sizing: border-box;*/
}

body {
    margin: 0;
}

header,
footer,
.title {
    background-color: #1F2937;
    
}

.bar,
.sub-title {
    font-size: 18px;
    color: #E5E7EB
}

/* SHARED CHANGES END HERE */

/* HEADER CHANGES START HERE */

header {
    display: flex;
    justify-content: space-between;
    padding: 16px 120px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    margin: auto;
}

.bar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    gap: 1em;
}

/* HEADER CHANGES END HERE */

/* TITLE CHANGES START HERE */

.title {
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4em;
}

.title-text {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    max-width: 400px;
}

.title-img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 400px;
    flex-shrink: 0;
}


h1 {
    font-size: 48px;
    font-weight: 800; /*EXTRA-BOLD*/
    color: #F9FAF8;
    margin: 0;
    padding: 0;
}

.sub-title {
    margin: 0;
    padding-right: 16px;
    padding-bottom: 8px;
    align-items: center;
}

.sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    border: none;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 36px;
    margin-bottom: 4px;
    text-align: center;
}

/* TITLE CHANGES END HERE */

/* MAIN1 CHANGES START HERE */

.main1 {
    text-align: center;
    margin-bottom: 10em;
}

h2 {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 32px;
}

.container1 {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.item>img {
    width: 100px;
    height: 100px;
    padding: 1em;
    border: 3px solid rgb(73, 94, 212);
    border-radius: 8px;
}

.item {
    max-width: 150px;
}

.text {
    color: gray;
}

/* MAIN1 CHANGES END HERE */

/* MAIN2 CHANGES START HERE */

.main2 {
    background-color: #E5E7EB;
    padding: 10em 15em;
}

.quote {
    text-align: justify;
    font-size: 36px;
    font-weight: 100;
    font-style: italic;
    color: #1F2937;
}

.author {
    text-align: end;
    font-weight: bold;
    font-size: 20px;
}

/* MAIN2 CHANGES END HERE */

/* MAIN3 CHANGES START HERE */

.main3 {
    color: #F9FAF8;
}

.container3 {
    background-color: #3882F6;
    margin: 5em 13em;
    padding: 3em 8em;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h3 {
    font-size: 24px;
    font-weight: bold;
}

h3,
.cta-text>p {
    margin: 0;
    padding: 0;
}

.cta {
    background-color: transparent;
    color: #F9FAF8;
    border: 2px solid #F9FAF8;
    border-radius: 6px;
    font-size: 18px;
    font-weight: bold;
    padding: 8px 32px;
    white-space: nowrap;
}

/* FOOTER CHANGES START HERE */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.copy {
    padding: 3em; 
    color: #F9FAF8
}

/* FOOTER CHANGES END HERE */

